# Node
node_modules/

# Env files
.env
.env.local

# Builds
**/dist

# IDEs
.vscode/
.DS_Store

# Coverage
coverage/

context/

# Terraform
.terraform/
*.tfstate
*.tfstate.*
.terraform.lock.hcl
terraform.tfvars
*.auto.tfvars

